
<div class="main-letras">
  <div class="letras-buscar">

    <input type="text" [(ngModel)]="cancionBuscarLetra">
    <button (click)="buscarLetraCancion(cancionBuscarLetra)">Buscar</button>

    <div class="letras-cancionEncontrada">
      <p>{{letraCancionBuscado()}}</p>
    </div>

</div>

<div class="letras-repertorio">
    <div class="repertorio-letrasCanciones" >
        <h2>{{cancionActual()}}</h2>
      <p>{{letraCancionActual()}}</p>
        <hr>
    </div>

</div>



<app-agregar-letras></app-agregar-letras>
</div>
