<div class="main">
  <div class="main-setRepertorio">
    <h2>Set Repertorio</h2>
    <form (ngSubmit)="onSubmit()">
      <div *ngFor="let i of rango" class="cancion-input-row">
        <input type="text" #inputCancion="" placeholder="Nombre de la canción" />
        <button type="button" (click)="agregarCancion(inputCancion.value)">Agregar</button>
        <button type="button" (click)="eliminarCancion(inputCancion.value)">Eliminar</button>
      </div>
      <button type="submit" (click)="agregarRepertorio()">Guardar</button>
    </form>
  </div>

  <div class="main-actualRepertorio">
    <h2>Repertorio Actual</h2>
    <ul>
      <li *ngFor="let i of repertorioActual">{{ i }}</li>
    </ul>
  </div>
</div>
